<!DOCTYPE html>
<html lang="ko" ng-app="fontExample">
<head>
	<meta charset="utf-8">
	<title>WEB-FONT-TEST</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" href="./asset/css/font.css">
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
	<script>
angular.module('fontExample', [])
.controller('ExampleController', ['$scope', function($scope){
	this.text = "테스트 안녕하세요.";
	this.fontsize = 14
	this.fontcolor = "black"
	this.letterspacing = 1.0
	this.font = "MalgunGothic-Regular"

}]);
</script>
</head>
<body>
    <section class="page-header" style="margin:0 0">
      <h1 class="project-name">WEB FONT TEST</h1>
      <h2 class="project-tagline">web font test page</h2>
    </section>
<div class="container" ng-controller="ExampleController as example">
	<div class="row">
		<div class="col-md-6" style="border-right: solid #cccccc;"> 
		<h2>글꼴테스트</h2>
		<form>
		  <div class="form-group">
		    <textarea class="form-control" name="exampleInputEmail1" id="exampleInputEmail1" rows="5" cols="40" ng-model="example.text">
		    </textarea>
		  </div>
		  <div class="form-group">
		  	<label for="fontfamily">Font Family : </label>
		  	<select name="fontfamily" class="form-control" ng-model="example.font">
			  <option>Noto Sans CJKKr Light</option>
			  <option>---------------------</option>
			  <option>MalgunGothic-Regular</option>
			  <option>MalgunGothic-Bold</option>
			  <option>---------------------</option>
			  <option>Nanum Barun Gothic UltraLight</option>
			  <option>Nanum Barun Gothic Light</option>
			  <option>Nanum Barun Gothic</option>
			  <option>Nanum Barun Gothic Bold</option>
			  <option>---------------------</option>
			  <option>TitilliumWeb-Light</option>
			  <option>TitilliumWeb-Regular</option>
			  <option>TitilliumWeb-SemiBold</option>
			  <option>TitilliumWeb-Bold</option>
			  <option>---------------------</option>
			  <option>default</option>
			</select>
		  </div>
		  <div class="form-group">
		  	<label for="fontsize">Font Size : </label>
			  <input type="number" name="fontsize" class="form-control" ng-model="example.fontsize" />
  		  </div>
  		 
  		  <div class="form-group">	  
  		  	<label for="fontweight">Font Weight : </label>
  		  	<input type="text" name="fontweight" class="form-control" ng-model="example.fontweight" placeholder="400 is the same as normal, and 700 is the same as bold" />
  		  </div>
  		   <div class="form-group">	  
  		  	<label for="fontcolor">Font Color : </label>
  		  	<input type="text" name="fontcolor" class="form-control" ng-model="example.fontcolor" />
  		  </div>
  		  <div class="form-group">	  
  		  	<label for="letterspacing">letter-spacing(자간) : </label>
  		  	<input type="number" name="letterspacing" class="form-control" ng-model="example.letterspacing" />
  		  </div>
  		  <div class="form-group">	  
  		  	<label for="lineheight">line-height(줄간견) : </label>
  		  	<input type="text" name="lineheight" class="form-control" ng-model="example.lineheight" placeholder="value or percent" />
  		  </div>
		</form>
		</div>
		<div class="col-md-6"> 
			<h2 style="color:red;">텍스트결과</h2>
			<pre style="background-color:white;min-height:120px;" ng-bind="example.text" 
			ng-Style="{'font-size':example.fontsize, 'color':example.fontcolor, 'line-height':example.lineheight, 'letter-spacing':example.letterspacing, 'font-family': example.font, 'font-weight':example.fontweight }"></pre>

			<h3 style="color:red">CSS Style</h3>
			<span style="display:block;padding:9px;border:1px solid #000;border-radius:4px;">{"color":{{example.fontcolor}} , "font-size":{{example.fontsize}}}</span>
		</div>
		<a href="">
		<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
		</a>
	</div>
</div>

</body>
</html>